#caixa{
    width: 300px;
    height: 300px;
    /*background: url("../imagens/camera.png");*/
    background: linear-gradient(to top, red, green);


}

#caixa h1{
    /*background: rgb(255, 255, 255, 0.5);*/
}


/*#caixa{
    width: 300px;
    height: 300px;
    background: rgb(167, 103, 103);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-radius:20px 90px;

}*/

